<h1>Hi there!</h1>

<form action="/bomb", method="post">
  <p>Bomb activated: <%= @bomb.activated %>!</p>
  <p>Activate the bomb:
    <input type="text" name="code"> 
    <input type="submit">
  </p>
</form>
