<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>"Time to build an app around here. Start time: " <%= (Time.now).to_s %> </p>
  <p>Configure the bomb <a href="/bomb">here!</a></p>
  <p>Wire the bomb! <a href="/wire">lets do this!</a></p>
</body>
</html>