  <p>"Time to build an app around here. Start time: " <%= (Time.now).to_s %> </p>
  <p>Configure the bomb <a href="/bomb">here!</a></p>
  <p>Wire/Disarm the bomb! <a href="/wire">lets do this!</a></p>
