<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Let's blow up this sh*it!</title>
  <form action="wire", method="post">
    <input type="text" name="code">
    <input type="submit" name = cenas>

  </form>
</head>
<body>
  
</body>
</html>