<% if flash[:notice] %>
  <p class="flash-notice"> <%= flash[:notice] %> </p>
<% end %>

<% if flash[:error] %>
  <p class="flash-error"> <%= flash[:error] %></p>
<% end %>

<form action="wire", method="post">
  <label> Activation code: </label>
  <input type="text" name="activation_code">

  <input type="submit" value="Activate">
</form>
<br>

<form action="disarm" method="post">
    <label> Deactivation code: </label>
    <input type="text" name="deactivation_code">

    <input type="submit" value="Deactivate">
</form>