a {
  color: #DF4A32 !important;
}

table{
  width: 60%;
  text-align: center;
  float: left;  
}

table td, tr, th{
  padding: 3px;
} 

thead{
  font-weight: 600;
}

ul{
  padding:0;
  list-style: none;
}

.header {
  width: 100%;
  float: left;
  vertical-align: bottom;
}

#logo{
  width: 20%;
  margin:0;
  position: relative;
  left:0;
}

#logo img{
  max-width: auto;
  height: 70px;
}

.search-box{
  margin-top: 20px;
  position: relative;
  display: inline;
  padding: 0 20px 0 20px;

}

.input-search{
  width: 80%;
}

.input-searh-button{
  right: 0;
  width: 18%;
}

.right-options{
  padding: 15px 0 15px 0;
}

.right-options button{
  border: none;
  color: #E14929;
}

#sidebar{
  width: 15%;
  height: 600px;
  padding: 0 20px;
  float: left;
}

#navigation-left-side{
  list-style: none;
  padding: 10px 0 0 0;
}

.user-wrapper{
  width: 20%;
  float:right;
  text-align:center;
}
.user-wrapper img {
  display: block;
  max-width: 100%;
  height: 100px; 
  border-radius: 50%;
  padding: 10px 0 10px 0;
}

.menu{
  padding:0 20px 0 20px;
  width: 150px;
  position: relative;
  list-style: none;
  padding: 5px 0 5px 0;
  display: none;
}

.menu li{
  width: 100px;
  position: relative;
  padding: 0px;
  border:none;
}



.visible{
  display: block;
}

/*#dropdown-menu li:hover ul{
  visibility: visible;
}*/

.show{
  visibility: visible;
}


